<div class="container mt-4">
  <app-todo-form></app-todo-form>

  <h2 class="text-center mb-3">Todo List</h2>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let todo of todos">
      
      <div *ngIf="editingTodoId !== todo.id">
        <strong>{{ todo.title }}</strong> - {{ todo.description }}
        <span class="badge bg-success ms-2" *ngIf="todo.isDone">Done</span>
        <span class="badge bg-danger ms-2" *ngIf="!todo.isDone">Not Done</span>
      </div>
      
      <div *ngIf="editingTodoId === todo.id">
        <input type="text" [(ngModel)]="editTitle" class="form-control mb-1">
        <input type="text" [(ngModel)]="editDescription" class="form-control mb-1">
        <input type="checkbox" [(ngModel)]="editIsDone"> Done
        <button class="btn btn-success btn-sm" (click)="saveTodo(todo.id)">Save</button>
        <button class="btn btn-secondary btn-sm" (click)="cancelEdit()">Cancel</button>
      </div>

      <div>
        <button class="btn btn-outline-success btn-sm" (click)="editTodo(todo)">Edit</button>
        <button class="btn btn-outline-danger btn-sm" (click)="deleteTodo(todo.id!)">Delete</button>
      </div>
    </li>
  </ul>
</div>
